@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {box-sizing: border-box;}

body {background-color: #000000;
      font-family: 'Gill Sans', 'Gill Sans MT', Poppins,'Trebuchet MS', sans-serif;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 100%;        
      background-image:url(Immagini/vecchio-sfondo-nero-struttura-del-grunge-carta-da-parati-scura-lavagna-lavagna-parete-della-stanza.jpg);
    }




.barraalto {background-color: hsl(0, 0%, 0%);
            float: center;
            width: 100%;
            position: fixed;
            height: 130px;
            z-index: 100;}

.barraalto bandiere{position: fixed;
                    float: right;}

nav {background-color: #000000;
     padding: 18px;
     width: 70px;
     display: flex;
     align-items: left;
     justify-content: left;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     transition: width 0.6s linear;
     overflow-x: hidden;
     margin: 1%;
     float: left;
     position: fixed;
     margin-top: 2.5%;}

nav.active {width: 370px;}

nav ul {display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 0;
        transition: width 0.6s linear;}

nav.active ul {width: 90%;}

nav ul li {transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
font-size: 15px;}

nav.active ul li {opacity: 1;
  transform: rotateY(360deg);}

nav ul a {position: relative;
  color: #ffffff;
  text-decoration: none;
  margin: 0 12px;}

.icon {background-color: #000000;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;}

.icon:focus {outline: 0;}

.icon .line {background-color: #ffffff;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;}

.icon .line2 {top: auto;
  bottom: 10px;}

nav.active .icon .line1 {transform: rotate(-765deg) translateY(5.5px);}

nav.active .icon .line2 {transform: rotate(765deg) translateY(-5.5px);}


.logomio { max-width: fit-content;
    margin: auto;
    padding: 8px;
    color: white;}


img.fotografia {display: inline-block;


max-width: 100px;
width: 100%;
max-height: 100px;
}


.bandiere {float: right;
  max-width: 70px;
  height: 40px;
  margin-right: 20px;
  margin-top: 50px;}

  

  
  .swiper {
    width: 100%;
    height: 350px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    color:#000000;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none; color:#000000;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


.scontii {
max-height: 300px;
max-width: 500px;}

img.Promo {max-width: 500px;
max-height: 300px;
margin-left: auto;
margin-right: auto;}

  .space {height: 110px;
    max-width: fit-content; margin: 0 auto;}



  p {font-size: 16pt;}

  

  #ScarpaNuova {background-color: hsl(0, 0%, 6%);
    padding: 20px;
    color: white;
    height: auto;
    text-align: center;
    width: 90%;
    height: 100%;
    display: inline-block;
    }



img.Phantom {height: 370px;
width: 300px;}

#freccina{color: white; float: right;cursor: pointer;
position: fixed;}

#map {border: 9px solid hsl(0, 0%, 6%) !important;
width: 100%;
height: 330px;}

.footer {background-color: hsl(0, 0%, 10%);
max-width: 100%;
text-align: center;
margin: 0 auto;
font-size: 12px;
padding: 0.5%;
font-style: calc(white);}

p {color: white;}

.box {display: inline-block;
max-width: 50%;
height: 300px;
padding: 0px 60px 0px 60px;}

img.NIKE {height: 80px;
width: 250px;
margin-bottom: 20px;}

#Linkyt {color: red;}

#Paragrafo {width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 5%;
background-color: black;
padding: 30px;
max-height: 680px;}

#Sfondochisiamo {background-image:url(https://store.sportit.com/wp-content/uploads/2018/04/ANMU0977.gif);}

#Titolo {height: 150px;
  font-size: larger;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%;
  background-color: black;
  padding: 30px;}

  h1 {color: white;
  margin-left: 28%;
  }

