@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {box-sizing: border-box;}

body {background-color: #000000;
      font-family: 'Gill Sans', 'Gill Sans MT', Poppins,'Trebuchet MS', sans-serif;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 100%;        
      background-image:url(Immagini/vecchio-sfondo-nero-struttura-del-grunge-carta-da-parati-scura-lavagna-lavagna-parete-della-stanza.jpg);
    }




.barraalto {background-color: hsl(0, 0%, 0%);
            float: center;
            width: 100%;
            position: fixed;
            height: 130px;
            z-index: 100;}

.barraalto bandiere{position: fixed;
                    float: right;}

nav {background-color: #000000;
     margin-left: 20px;
     width: 70px;
     display: flex;
     align-items: left;
     justify-content: left;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
     transition: width 0.6s linear;
     overflow-x: hidden;
     float: left;
     position: fixed;
     margin-top: 50px;}

nav.active {width: 390px;}

nav ul {display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 0;
        transition: width 0.6s linear;}

nav.active ul {width: 90%;}

nav ul li {transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
font-size: 15px;}

nav.active ul li {opacity: 1;
  transform: rotateY(360deg);}

nav ul a {position: relative;
  color: #ffffff;
  text-decoration: none;
  margin: 0 12px;}

.icon {background-color: #000000;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;}

.icon:focus {outline: 0;}

.icon .line {background-color: #ffffff;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;}

.icon .line2 {top: auto;
  bottom: 10px;}

nav.active .icon .line1 {transform: rotate(-765deg) translateY(5.5px);}

nav.active .icon .line2 {transform: rotate(765deg) translateY(-5.5px);}


img.fotografia {display: inline-block;
max-width: 50px;
width: 100%;
max-height: 70px;
margin-top: 35px;
}


#ricerca {float: right;
  max-width: 150px;
  height: 100px;
  margin-right: 20px;
  margin-top: 50px;}

  

  
  .swiper {
    width: 100%;
    height: 350px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    color:#000000;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none; color:#000000;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }


.scontii {
max-height: 300px;
max-width: 500px;}

img.Promo {max-width: 500px;
max-height: 300px;
margin-left: auto;
margin-right: auto;}

  .space {height: 110px;
    max-width: fit-content; margin: 0 auto;}



  p {font-size: 16pt;}

  

  #ScarpaNuova {background-color: hsl(0, 0%, 6%);
    padding: 20px;
    color: rgb(255, 255, 255);
    height: auto;
    text-align: center;
    width: 90%;
    height: 100%;
    
    }



img.Phantom {height: 370px;
width: 300px;}

#map {border: 9px solid hsl(0, 0%, 6%) !important;
width: 100%;
height: 330px;}

.footer {background-color: hsl(0, 0%, 10%);
max-width: 100%;
text-align: center;
margin: 0 auto;
font-size: 12px;
padding: 0.5%;
font-style: calc(white);}

p {color: white;}

.box {display: inline-block;
max-width: 100%;
height: 300px;
padding: 0px 60px 0px 60px;}

img.NIKE {height: 80px;
width: 250px;
margin-bottom: 20px;}

#Linkyt {color: red;}

#Paragrafo {width: 50%;
margin-left: 25%;
margin-right: 25%;
margin-top: 5%;
background-color: black;
padding: 30px;
margin-bottom: 5%;}

#Sfondochisiamo {background-image:url(https://store.sportit.com/wp-content/uploads/2018/04/ANMU0977.gif);
background-repeat: no-repeat;
background-attachment: fixed;}


  h1 {color: white;
  }


  img.Fotoprofilo {max-width: 270px;
  max-height: 350px;

margin-bottom: 40px;
margin-top: 20px;
display: inline-block;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	padding:25px;
	margin:50px 0;
  max-width: 50%;
}

#contact h3 {
	color: rgb(255, 255, 255);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
  color: #fff;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#ffffff;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:rgb(161, 2, 2);
	color:#000000;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:rgb(148, 21, 7);
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


.spaziaturaprodotti {margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: 40px;}

  .card-body{background-color: #000000;}

 

  img.card-img-top {background-color: #000000;
border: 0px;
}

.card-title {color: #ffffff;}
.btn{
  background-color: #ffffff;
	border-color: #ffffff;
}

.btn-primary {color: #000000;}

.card {border: none;}

img.iconacarrello {
  max-width: 37px;
  width: 7%;
  max-height: 70px;
  margin-top: 35px;
  float: right;
  margin-right: 20px;
 }


 table {
  width: 100%;
  border-collapse: collapse;
  padding-left: 5%;
  margin-right: 10%;
  margin-bottom: 6%;
}

th, td {
  padding: 10px;
  text-align: left;
 
}

tr {color: #ffffff;}


.acquista {
margin-bottom: 0%;
padding-left: 1px;
padding-right: 1%;
padding-top: 1%;
padding-bottom:1%;
margin-bottom: 0%;

color: #ffffff;
border-color: rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
margin-bottom: 10%;
}

.titolocarrello{
  margin-top: 5%;


}

.rimuovi-deep-pink {
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
}

.rimuovi-deep-pink:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}


.form-label{
  color: rgb(255, 255, 255);
  margin-top: 30%;

 
}

.form-group{
  color:rgb(255, 255, 255)
  
  
  }


  .form-control{
    color:rgb(0, 0, 0);
    margin-top: 3%;
  }


  .container{
    margin-top: 3%;
    padding-top: 20px;
  }


  .input-group{
    margin-top: -150px;
  }
  
  
  #bottonpink{

padding-left: 2%;
padding-right: 2%;
padding-top: 1%;
padding-bottom:1%;
margin-bottom: 0%;
color: #ffffff;
border-color: rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
margin-bottom: 10%;

  }



  #bottonred{

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom:1%;
    margin-bottom: 0%;
    color: #ffffff;
    border-color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    margin-bottom: 10%;
    
      }

      #bottoncarrello{
     border-color: rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
        margin-bottom:  150px;
        
       

      }

  #bottonblack{

    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin-top: 50%;
    padding-bottom:1%;
    margin-bottom: 5%;
    color: #ffffff;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
      }



.view {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.view img {
  display: block;
  transform: scale(1);
  transition: all .2s linear;
}

.view img:hover {
  transform: scale(1.5);
}